@model SchoolDatabase.Models.Teacher

<h1>Teacher Details</h1>
<p>Name: @Model.FirstName @Model.LastName</p>
<p>Subject: @Model.Subject</p>
<p>Hire Date: @Model.HireDate.ToShortDateString()</p>

